<div class="md-panel md-whiteframe-2dp" layout="column">
    <!-- Toolbar -->
    <md-toolbar class="md-panel-toolbar">
        <div class="md-toolbar-tools">
            <h3>
                Commands
            </h3>
            <span flex=""></span>
            <md-button class="md-icon-button">
                <md-tooltip md-direction="left">
                    Options
                </md-tooltip>
                <i class="mdi mdi-settings i-24"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-panel-content" layout="row" layout-xs="column">
        <div style="background-color: red" flex-xs="auto" flex="25">
            dsfsdfsdfsdfdsf
        </div>
        <div style="background-color: blue" flex-xs="auto" flex="75">
            dsfdsfdsfsdfdsfsdf
        </div>
    </md-content>
</div>