<div class="md-panel md-whiteframe-2dp" layout="column">
    <!-- Toolbar -->
    <md-toolbar class="md-panel-toolbar">
        <div class="md-toolbar-tools">
            <h3>
                Commands
            </h3>
            <span flex=""></span>
            <md-button class="md-icon-button">
                <md-tooltip md-direction="left">
                    Options
                </md-tooltip>
                <i class="mdi mdi-settings i-24"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-panel-content" layout-gt-xs="row" layout="column">
        <div style="border-right: 1px solid darkgray" flex-gt-xs="50" flex-gt-md="30">
            <treecontrol class="tree-classic" tree-model="namespaces" on-selection="showSelected(node)">
                {{ node.id }}
            </treecontrol>
        </div>
        <div flex-gt-xs="50" flex-gt-md="70">
            <h1 ng-bind="selectedCommand.name"></h1>

            <h3>Description</h3>

            <p ng-bind="selectedCommand.description"></p>

            <h3>Help</h3>

            <p ng-bind-html="trustAsHtml(selectedCommand.help)"></p>
        </div>
    </md-content>
</div>