<md-toolbar class="md-whiteframe-z1">
    <div class="md-toolbar-tools">
        <i class="fa fa-apple" style="font-size: 36px"></i>
        <span class="app-title">
            {{$appName}}
        </span>
    </div>
</md-toolbar>
<md-content flex="">
    <nav ui-nav>
        <ul class="nav">
            <li class="nav-header m-v-sm hidden-folded">
                UI Kits
            </li>

            <li ng-class="{active:$state.includes('app')}">
                <a md-ink-ripple>
                <span class="pull-right text-muted">
                    <i class="fa fa-caret-down"></i>
                </span>
                    <i class="icon i-20 fa fa-battery-full"></i>
                    <span class="font-normal">Dashboard</span>
                </a>
                <ul class="nav nav-sub">
                    <li ui-sref-active="active">
                        <a md-ink-ripple ui-sref="app.dashboard">Dashboard</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</md-content>

<div class="md-pane"></div>